# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
coverage.xml
*.egg-info/
dist/
build/
*.egg

# Misc
.DS_Store
Thumbs.db
*.swp
*~
.project
.pydevproject
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs & temp
*.log
tmp/
temp/
